body {
  background-image: url(/snimki/background/sin.png);
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .nav {
        overflow: hidden;
        background-color: #6274a8;
      }
      
      .nav a.gore {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 27 30px;
        text-decoration: none;
        font-size: 20px;
      }
      
      .nav a.gore:hover {
        background-color: #4f639e;
       
      }
      
      .nav a.logo {
      
        float: left;
        padding: 0 0px;
      }

      .golemisnimki{
        border: 10px solid #85a5b6;
        width: 610px;
        height: 400px;
        position: absolute;
        left: 170px;
        top: 190px;
        transition: transform .5s;
        overflow: hidden;
        z-index: 0;
   
      }
      .golemisnimki:hover {
        transform: scale(1.2); 
        z-index: 1;
      }
   
      .lmalkisnimki{
        border: 10px solid #85a5b6;
        width: 300px;
        height: 200px;
        position: absolute;
        left: 170px;
        top: 600px;
        transition: transform .5s;
        overflow: hidden;
        z-index: 0;
      }
      .lmalkisnimki:hover{
        z-index: 1;
        transform: scale(2);
       
      }
      .rmalkisnimki{
        border: 10px solid #85a5b6;
        width: 300px;
        height: 200px;
        position: absolute;
        left: 480px;
        top: 600px;
        transition: transform .5s;
        overflow: hidden;
        z-index: 0;
      }
      .rmalkisnimki:hover{
        transform: scale(2);
        z-index: 1;
      }
      .paragraphi{
        background-color: #79b8e096 ;
        position: absolute;
        top: 200px;
        left: 900px;
        width: 800px;
        font-size: 22px;
    
      }
      .zaglavienapragraphi{
        background-color: #79b8e096 ;
        position: absolute;
        top: 50px;
        left: 1100px;
        font-size: 50px;
    
      }
      .button {
        font-size: 14px;
        border-radius: 9px;
    border-width: 0;
        padding: 18px 30px;
        transition: all;
        width: 170px;
        background: #77b6dd;
        position:absolute;
        left: 1200px;
        top: 870px;
       
        color:  #114a6e;
        text-align: center;
      }
 a:link,a:visited{ 
    text-decoration: none;
    }
    .button:hover{
      width: 170px;
      background:#114a6e;
      color:#77b6dd;

    }
      
   
      
